[buildout]
develop = . 
bin-directory = bin
parts = cc.api
find-links = http://a9.creativecommons.org/~cwebber/eggs/

[cc.api]
recipe = zc.recipe.egg
eggs = cc.api
entry-points = 
    zdaemon=zdaemon.zdctl:main
    nosetests=nose:main
interpreter = python
